*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(217, 211, 223);
}

button {
  font-size: 24px;
  height: 40px;
  width: 70px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.focus {
  background: rgb(215, 206, 228);
  border: none;
}

.active {
  border: 2px solid rgb(132, 114, 151);
}

.calculator {
  max-width: 500px;
  height: 100%;
  margin: 200px auto;
  display: flex;
  justify-content: center;
  padding: 50px 30px;
  background-color: rgb(176, 154, 197);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.calculator__container {
  display: flex;
  flex-direction: column;
  flex-basis: 380px;
}

.calculator__top {
  width: 100%;
  margin-bottom: 10px;
}

.calculator__bottom {
  width: 100%;
}

.calculator__top {
  display: flex;
  justify-content: space-between;
}

.calculator__input {
  height: 40px;
  width: 100%;
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 10px;
}

.calculator__input::placeholder {
  font-size: 18px;
  line-height: 24px;
}

.calculator__input:focus::placeholder {
  color: transparent;
}

.calculator__input:focus {
  box-shadow: 0 0 0 2px rgb(132, 114, 151);
}

.calculator__operations {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calculator__numbers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.calculator__numbers-top,
.calculator__numbers-center,
.calculator__numbers-bottom,
.calculator__numbers-last {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.calculator__numbers-last {
  margin-bottom: 0;
}

.calculator__eight,
.calculator__five,
.calculator__two {
  margin: 0 10px;
}

.calculator__zero {
  margin: 0 10px;
}
